{%extends 'base.html '%}
{% block content %}
<body class="page-template-default page page-id-8 theme-kidz woocommerce-account woocommerce-page woocommerce-lost-password woocommerce-no-js sidebar-right header-type-1 sticky-type-1 layout-boxed-white fixed-slider  woocommerce-on preload">

    

    <div class="container post-container">

        <div class="row">
            <div class="col-md-12">
                <section role="main" class="post-open">
                    <article id="post-8" class="post-8 page type-page status-publish hentry">
                        <div class="shop-content">
{% if validlink%}
<h1>
    Set new password!
</h1>
<form action="" method="POST">
    {% csrf_token %}

    {{form.as_p}}
    <button type="submit">Send confirmation link</button>
</form>
{%else%}
<h1 style="color: red;">Invalid Token!!</h1>
<a href="{% url 'password_reset'%}"><p>Request a new password reset Token</p></a>
{%endif%}
</div> </article> </section> </div> </div> </div> </body>
{% endblock %}
