{% extends 'base.html' %}
{%block content %}
<body class="page-template-default page page-id-8 theme-kidz woocommerce-account woocommerce-page woocommerce-lost-password woocommerce-no-js sidebar-right header-type-1 sticky-type-1 layout-boxed-white fixed-slider  woocommerce-on preload">

    

    <div class="container post-container">

        <div class="row">
            <div class="col-md-12">
                <section role="main" class="post-open">
                    <article id="post-8" class="post-8 page type-page status-publish hentry">
                        <div class="shop-content">
<h1>
    Change Your password!
</h1>
<p style="color: green;">password changed successfully!</p>
<p>you can now login again :)</p>
<a href="{%url 'login'%}" class="button">Go TO LOGIN PAGE </a>
</div></article> </section> </div> </div> </div> </body> 
{% endblock %}