{% extends 'base.html' %}
{%block content %}


<body class="page-template-default page page-id-8 theme-kidz woocommerce-account woocommerce-page woocommerce-lost-password woocommerce-no-js sidebar-right header-type-1 sticky-type-1 layout-boxed-white fixed-slider  woocommerce-on preload">

    

    <div class="container post-container">

        <div class="row">
            <div class="col-md-12">
                <section role="main" class="post-open">
                    <article id="post-8" class="post-8 page type-page status-publish hentry">
                        <div class="shop-content">

                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>
                                <form method="post" class="woocommerce-ResetPassword lost_reset_password">

                                    <p>Lost your password? Please enter your email address. You will receive
                                        a link to create a new password via email.</p>
                                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                        <label for="user_login">Username or email</label>
                                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="email"
                                            name="email" id="id_email" autocomplete="username"  required/>
                                    </p>

                                    <div class="clear"></div>


                                    <p class="woocommerce-form-row form-row">
                                        <input type="hidden" name="wc_reset_password" value="true" />
                                        <button type="submit" class="woocommerce-Button button"
                                            value="Reset password">Reset password</button>
                                    </p>

                                    <input type="hidden" id="woocommerce-lost-password-nonce"
                                        name="woocommerce-lost-password-nonce" value="12c15caf93" /><input type="hidden"
                                        name="_wp_http_referer" value="/kidz/demo2/my-account/lost-password/" />
                                    {% csrf_token%}
                                    </form>
                            </div>
                            <div class="clear"></div>

                        </div>






                    </article>

                </section>
            </div>
        </div>

    </div>

</body>

{%endblock %}