{% load static %}
<style>


</style>
<header id="header">
    <div id="home-top-menu" class="top-menu with-bg" style="background-color:#394c69;color:#ffffff">
        <!-- <div class="main-menu initialized" style="display: block; opacity: 1"> -->



        <div class="container">
            <div class="auth">
                {% if request.user.is_authenticated%}
                <a href="{%url 'logout' %}"><i class="fas fa-user "
                        style="padding-right: 3px;"></i><span>Logout</span></a>
                {% else %}

                <a href="{%url 'login' %}"><i class="fas fa-user "
                        style="padding-right: 3px;"></i><span>Login</span></a>
                {% endif %}

            </div>
            <nav>
                <ul id="menu-top-menu" class="menu">
                    <li
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children ">
                        <a href="{%url 'shop' %}">Shop</a></li>
                    <!-- <li
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-402">
                            <a href="">About</a> </li> -->
                    <li
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-402">
                        <a href="{%url 'news' %}">News</a></li>
                    <li
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-402">
                        <a href="{%url 'contact' %}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="home-top-menu" class="top-menu with-bg" style="background-color:#C2E7F7;color:#394c69">
        <div class="container">




            <nav>
                <ul class="menu" style="margin: 0 auto !important">
                    {% for s , k in categories %}
                    <li
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children ">
                        <a href="{% url 'category' s %}">{{s.capitalize}}</a>
                    </li>
                    {% endfor %}



                </ul>
            </nav>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">

            <a class="mobile-menu" href="#">
                <svg id='svg-bars' viewBox="0 0 18 15" fill="inherit" stroke="inherit">
                    <path
                        d="M0 13.5c0-.828.662-1.5 1.504-1.5h14.992c.83 0 1.504.666 1.504 1.5 0 .828-.662 1.5-1.504 1.5H1.504C.674 15 0 14.334 0 13.5zm0-6C0 6.672.662 6 1.504 6h14.992C17.326 6 18 6.666 18 7.5c0 .828-.662 1.5-1.504 1.5H1.504C.674 9 0 8.334 0 7.5zm0-6C0 .672.662 0 1.504 0h14.992C17.326 0 18 .666 18 1.5c0 .828-.662 1.5-1.504 1.5H1.504C.674 3 0 2.334 0 1.5z"
                        fill="inherit" fill-rule="evenodd" stroke="none"></path>
                </svg>
            </a>
            <div class="container-2">

                <a rel="nofollow" class="wishlist added " id="wishlist-nav" href="{%url 'wishlist' %}">
                    <!-- <i class="far fa-heart fa-2x"></i> -->
                    <!-- <svg viewBox="0 0 272 233" fill="inherit" stroke="inherit">
                        <path
                            d="M135.695 42.202c66.16-117.992 269.043 32.762 0 189.985V42.202zm-.017.097c-66.16-117.992-269.043 32.762 0 189.985V42.299zM31 58.601c.002-11.835 16.913-13.483 19.315 0 4.519 25.377 6.931 47.092 36.805 74.913 15.406 14.348-4.92 21.15-11.85 14.71 0 0-44.28-33.076-44.27-89.623z"
                            fill="inherit" fill-rule="evenodd" stroke="none"></path>
                    </svg>

                    <svg class="svg-off" viewBox="0 0 23 20" id="svg-wishlist-off" fill="inherit" stroke="inherit">
                        <path
                            d="M11.437 7.692c.02-.06.041-.118.062-.176V3.585c-5.607-10-22.802 2.777 0 16.102v-3.092l-.054.032v.01a25.852 25.852 0 0 1-.008-.005l-.007.004v-.009c-18.1-10.586-3.907-20.304.007-8.935zm.064 8.902v3.085c22.802-13.325 5.607-26.103 0-16.102v3.935c3.997-11.073 17.917-1.435 0 9.082z"
                            fill="inherit" fill-rule="evenodd" stroke="none"></path>
                    </svg> -->
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width: 40px;height: 30px;" xml:space="preserve">
               <g>
                   <g>
                       <path d="M376,30c-27.783,0-53.255,8.804-75.707,26.168c-21.525,16.647-35.856,37.85-44.293,53.268
                           c-8.437-15.419-22.768-36.621-44.293-53.268C189.255,38.804,163.783,30,136,30C58.468,30,0,93.417,0,177.514
                           c0,90.854,72.943,153.015,183.369,247.118c18.752,15.981,40.007,34.095,62.099,53.414C248.38,480.596,252.12,482,256,482
                           s7.62-1.404,10.532-3.953c22.094-19.322,43.348-37.435,62.111-53.425C439.057,330.529,512,268.368,512,177.514
                           C512,93.417,453.532,30,376,30z"/>
                   </g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               </svg>
               
                </a>

                <a class="search" href="{%url 'search'%}">

                    <!-- <svg viewBox="0 0 20 20" id="svg-search" fill="inherit" stroke="inherit">
                        <path
                            d="M11.124 15.367l.001.001 3.528 3.527a3.005 3.005 0 0 0 4.246.004 3.005 3.005 0 0 0-.004-4.246l-3.527-3.528h-.001A7.977 7.977 0 0 0 16 8a8 8 0 1 0-4.876 7.367zM8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"
                            fill="inherit" fill-rule="evenodd" stroke="none"></path>
                    </svg> -->
                    <svg version="1.1" id="svg-search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 310.42 310.42" style="enable-background:new 0 0 310.42 310.42;"
                    xml:space="preserve">
               <g>
                   <g>
                       <path d="M273.586,36.833c-49.11-49.111-129.02-49.111-178.131,0C53.792,78.498,47.482,140.462,76.509,188.85
                           c0,0,2.085,3.498-0.731,6.312c-16.065,16.064-64.263,64.263-64.263,64.263c-12.791,12.79-15.836,30.675-4.493,42.02l1.953,1.951
                           c11.343,11.345,29.229,8.301,42.019-4.49c0,0,48.096-48.097,64.128-64.128c2.951-2.951,6.448-0.866,6.448-0.866
                           c48.386,29.026,110.352,22.718,152.016-18.946C322.698,165.854,322.698,85.944,273.586,36.833z M250.331,191.71
                           c-36.288,36.287-95.331,36.287-131.619,0c-36.288-36.288-36.287-95.332,0-131.62c36.288-36.287,95.333-36.288,131.619,0
                           C286.62,96.377,286.62,155.422,250.331,191.71z"/>
                       <path d="M213.182,82.8c-16.054,0-26.239,17.898-28.649,17.898c-2.107,0-11.876-17.898-28.651-17.898
                           c-16.318,0-29.64,13.457-30.512,29.751c-0.492,9.205,2.475,16.209,6.657,22.555c8.353,12.676,44.879,43.192,52.56,43.192
                           c7.847,0,44.043-30.406,52.451-43.192c4.19-6.374,7.148-13.35,6.657-22.555C242.823,96.256,229.5,82.8,213.182,82.8z"/>
                   </g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               </svg>                </a>



                <a class="cart-info" href="{%url 'cart' %}">

                    <!-- <svg viewBox="0 0 24 22" id="svg-cart" fill="inherit" stroke="inherit">
                        <path
                            d="M9 7H1.501C.667 7 0 7.672 0 8.5v2c0 .826.672 1.5 1.501 1.5H2v7.506A2.5 2.5 0 0 0 4.493 22h15.014A2.495 2.495 0 0 0 22 19.506V12h.499c.834 0 1.501-.672 1.501-1.5v-2c0-.826-.672-1.5-1.501-1.5H15v1.002A2 2 0 0 1 13.002 10h-2.004A2 2 0 0 1 9 8.002V7zm-4 6.003A.999.999 0 0 1 6 12c.552 0 1 .438 1 1.003v4.994A.999.999 0 0 1 6 19c-.552 0-1-.438-1-1.003v-4.994zm4 0A.999.999 0 0 1 10 12c.552 0 1 .438 1 1.003v4.994A.999.999 0 0 1 10 19c-.552 0-1-.438-1-1.003v-4.994zm4 0A.999.999 0 0 1 14 12c.552 0 1 .438 1 1.003v4.994A.999.999 0 0 1 14 19c-.552 0-1-.438-1-1.003v-4.994zm4 0A.999.999 0 0 1 18 12c.552 0 1 .438 1 1.003v4.994A.999.999 0 0 1 18 19c-.552 0-1-.438-1-1.003v-4.994zM10 .998A.998.998 0 0 1 11.01 0h1.98c.558 0 1.01.446 1.01.998v7.004A.998.998 0 0 1 12.99 9h-1.98C10.451 9 10 8.554 10 8.002V.998z"
                            fill="inherit" fill-rule="evenodd" stroke="none"></path>
                    </svg> -->
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <span class="ip-cart-count" id="cart_count">{{ cart_count }}</span> </a>



                <span class="logo-wrap">
                    <a href="{%url 'index' %}">
                        <img src="{% static 'img/logo-final.png' %}" class="logo svg" alt="NeverLand EGY" /></a>
                    </a></span>


            </div>

            <div class="menu-shadow hidden"></div>

            <div class="product-categories">
                <ul class="main-menu-container main-menu-icons main-menu-fixed">
                    <li class=" items-6">
                        <a href="/category/kids/boy">
                            <!-- <img src="{%static 'img/icons/Baby.svg' %}" alt=""> -->
                            <span>Boys Costumes</span></a><a class="js-more" href="#"><i class="more"></i>
                        </a>

                    </li>
                    <li class=" items-6">
                        <a href="/category/kids/girl">
                            <!-- <img src="{%static 'img/icons/Baby.svg' %}" alt=""> -->
                            <span>Girls Costumes</span></a><a class="js-more" href="#"><i class="more"></i>
                        </a>

                    </li>
                    <li class=" items-6">
                        <a href="/category/kids/baby">
                            <!-- <img src="{%static 'img/icons/Baby.svg' %}" alt=""> -->
                            <span> Baby Costumes</span></a><a class="js-more" href="#"><i class="more"></i>
                        </a>

                    </li>

                    <li class=" items-6">
                        <a href="/category/adults">
                            <!-- <img src="{%static 'img/icons/Boy.svg'%}" alt=""> -->
                            <span>Adult Costumes</span></a><a class="js-more" href="#"><i class="more"></i>
                        </a>
                        <!-- <ul class="submenu">
                            <li class=""><a href="">SuberHero</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>
                            <li class=""><a href="">Historic</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>
                            <li class=""><a href="">Hollween</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>
                            <li class=""><a href="">Egyptian</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>

                        </ul> -->
                    </li>
                    <li class="  items-6">
                        <a href="/category/accessories">

                            <span>Accessories</span></a><a class="js-more" href="#"><i class="more"></i></a>
                        <!-- <ul class="submenu">
                            <li class=""><a href="">SuberHero</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>
                            <li class=""><a href="">Historic</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>
                            <li class=""><a href="">Hollween</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>
                            <li class=""><a href="">Egyptian</a><a class="js-more" href="#"><i class="more"></i></a>
                            </li>

                        </ul> -->
                    </li>
                    <li class=" items-6">
                        <a href="/category/decorations">
                            <!-- <img src="{%static 'img/icons/Baby.svg' %}" alt=""> -->
                            <span>Decorations</span></a><a class="js-more" href="#"><i class="more"></i>
                        </a>

                    </li>


                </ul> <a class="mobile-menu-close" href="#">
                    <svg>
                        <use xlink:href="#svg-close" />
                    </svg>
                </a>
                <div class="auth">
                    <a href="{%url 'login' %}" rel="nofollow">
                        <span>Login</span>
                        <i class="fas fa-user"></i>
                    </a>

                    <!-- {% if 'search' not in request.path %} 
                <a class="search" href="{%url 'search'%}">
                    <img src="{% static 'img/icons/search.svg'%}" alt="">
                </a>
                {% endif %} -->
                </div>
                <a href="#" class="mobile-menu-back">
                    <svg>
                        <use xlink:href="#svg-angle-left" />
                    </svg>
                    Back </a>
                <a rel="nofollow" class="mobile-wishlist" href="{% url 'wishlist' %}">
                    <svg viewBox="0 0 272 233" fill="inherit" stroke="inherit" class="svg on">
                        <path
                            d="M135.695 42.202c66.16-117.992 269.043 32.762 0 189.985V42.202zm-.017.097c-66.16-117.992-269.043 32.762 0 189.985V42.299zM31 58.601c.002-11.835 16.913-13.483 19.315 0 4.519 25.377 6.931 47.092 36.805 74.913 15.406 14.348-4.92 21.15-11.85 14.71 0 0-44.28-33.076-44.27-89.623z"
                            fill="inherit" fill-rule="evenodd" stroke="none"></path>
                    </svg>
                    <svg viewBox="0 0 272 233" fill="inherit" stroke="inherit" class="svg off">
                        <path
                            d="M135.695 42.202c66.16-117.992 269.043 32.762 0 189.985V42.202zm-.017.097c-66.16-117.992-269.043 32.762 0 189.985V42.299zM31 58.601c.002-11.835 16.913-13.483 19.315 0 4.519 25.377 6.931 47.092 36.805 74.913 15.406 14.348-4.92 21.15-11.85 14.71 0 0-44.28-33.076-44.27-89.623z"
                            fill="inherit" fill-rule="evenodd" stroke="none"></path>
                    </svg>
                </a>
                <a class="mobile-search" href="#">
                    <!-- <i class="fas fa-search"></i> -->
                </a>
            </div>
        </div>
    </div>


    <!-- </div> -->
</header>