{% extends 'base.html' %}
{% load static %}
{% block content %}

<body
    class="page-template-default page page-id-7 custom-background theme-kidz woocommerce-checkout woocommerce-page woocommerce-no-js sidebar-right header-type-1 sticky-type-1 layout-boxed-white fixed-slider  woocommerce-on preload">
    {%include 'partials/_search.html' %}
    <div id="wrap" class="search-type-1 wrap--boxed wrap--boxed-white">
        {% include 'partials/main_header.html' %}
        <header class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Checkout</h1>
                    </div>
                </div>
            </div>
        </header>

        <div class="container post-container">

            <div class="row">
                <div class="col-md-12">
                    <section role="main" class="post-open">
                        <article id="post-7" class="post-7 page type-page status-publish hentry">
                            <div class="shop-content">

                                <div class="woocommerce">
                                    <div class="woocommerce-notices-wrapper"></div>
                                    <form class="woocommerce-form woocommerce-form-login login" method="post"
                                        style="display:none;">


                                        <p>If you have shopped with us before, please enter your details below. If you
                                            are a new customer, please proceed to the Billing section.</p>

                                        <p class="form-row form-row-first">
                                            <label for="username">Username or email <span
                                                    class="required">*</span></label>
                                            <input type="text" class="input-text" name="username" id="username"
                                                autocomplete="username" />
                                        </p>
                                        <p class="form-row form-row-last">
                                            <label for="password">Password <span class="required">*</span></label>
                                            <input class="input-text" type="password" name="password" id="password"
                                                autocomplete="current-password" />
                                        </p>
                                        <div class="clear"></div>


                                        <p class="form-row">
                                            <input type="hidden" id="woocommerce-login-nonce"
                                                name="woocommerce-login-nonce" value="c3dd5f3d98" /><input type="hidden"
                                                name="_wp_http_referer" value="/kidz/demo2/checkout/" /> <button
                                                type="submit" class="button" name="login" value="Login">Login</button>
                                            <input type="hidden" name="redirect"
                                                value="https://parkofideas.com/kidz/demo2/checkout/" />
                                            <label
                                                class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                                <input class="woocommerce-form__input woocommerce-form__input-checkbox"
                                                    name="rememberme" type="checkbox" id="rememberme"
                                                    value="forever" /><i></i> <span>Remember me</span>
                                            </label>
                                        </p>
                                        <p class="lost_password">
                                            <a href="https://parkofideas.com/kidz/demo2/my-account/lost-password/">Lost
                                                your password?</a>
                                        </p>

                                        <div class="clear"></div>


                                    </form>
                                    <div class="woocommerce-notices-wrapper"></div>
                                    <form name="checkout" method="post" class="checkout woocommerce-checkout"
                                        action="{%url 'place_order'%}"
                                        enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-8">


                                                <div class="col2-set" id="customer_details">
                                                    <div class="col-1">
                                                        <div class="woocommerce-billing-fields">

                                                            <h3>Billing details</h3>



                                                            <div class="woocommerce-billing-fields__field-wrapper">
                                                                <p class="form-row form-row-first validate-required"
                                                                    id="billing_first_name_field" data-priority="10">
                                                                    <label for="billing_first_name" class="">First
                                                                        name&nbsp;<abbr class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper"><input
                                                                            type="text" class="input-text "
                                                                            name="first_name"
                                                                            id="billing_first_name" placeholder=""
                                                                            value="" autocomplete="given-name" required/></span>
                                                                </p>
                                                                <p class="form-row form-row-last validate-required"
                                                                    id="billing_last_name_field" data-priority="20">
                                                                    <label for="billing_last_name" class="">Last
                                                                        name&nbsp;<abbr class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper"><input
                                                                            type="text" class="input-text "
                                                                            name="last_name"
                                                                            id="billing_last_name" placeholder=""
                                                                            value=""
                                                                            autocomplete="family-name" required /></span></p>
                                                                            <p class="form-row form-row-wide validate-required validate-phone"
                                                                            id="billing_phone_field" data-priority="100"><label
                                                                                for="billing_phone" class="">Phone&nbsp;<abbr
                                                                                    class="required"
                                                                                    title="required">*</abbr></label><span
                                                                                class="woocommerce-input-wrapper"><input
                                                                                    type="tel" class="input-text "
                                                                                    name="phone" id="billing_phone"
                                                                                    placeholder="" value=""
                                                                                    autocomplete="tel" /></span></p>
                                                                        <p class="form-row form-row-wide validate-required validate-email"
                                                                            id="billing_email_field" data-priority="110"><label
                                                                                for="billing_email" class="">Email
                                                                                address&nbsp;<abbr class="required"
                                                                                    title="required">*</abbr></label><span
                                                                                class="woocommerce-input-wrapper"><input
                                                                                    required type="email" class="input-text "
                                                                                    name="email" id="billing_email"
                                                                                    placeholder="" value=""
                                                                                    autocomplete="email username" /></span></p>
                                                                     <p class="form-row form-row-wide address-field validate-required"
                                                                    id="billing_address_1_field" data-priority="50">
                                                                    <label for="billing_address_1" class="">Street
                                                                        address&nbsp;<abbr class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper"><input
                                                                            type="text" class="input-text "
                                                                            name="address"
                                                                            id="billing_address_1"
                                                                            placeholder="House number and street name"
                                                                            value=""
                                                                            autocomplete="address-line1" required /></span></p>
                                                
                                                                <p class="form-row form-row-wide address-field validate-required"
                                                                    id="billing_city_field" data-priority="70"><label
                                                                        for="city" class="">Town /
                                                                        City&nbsp;<abbr class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper"><input
                                                                            type="text" class="input-text "
                                                                            name="city" id="billing_city"
                                                                            placeholder="" value=""
                                                                            autocomplete="address-level2" required/></span></p>
                                                                <p class="form-row form-row-wide address-field validate-required"
                                                                     data-priority="70"><label
                                                                        for="" class=""> Governorate&nbsp;<abbr class="required"
                                                                            title="required">*</abbr></label><span
                                                                        class="woocommerce-input-wrapper"><input
                                                                            type="text" class="input-text "
                                                                            name="governrate" id="billing_gov"
                                                                            placeholder="" value=""
                                                                            autocomplete="address-level2" required /></span></p>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-2">
                                                        <div class="woocommerce-shipping-fields">
                                                        </div>
                                                        <div class="woocommerce-additional-fields">



                                                            <h3>Additional information</h3>


                                                            <div class="woocommerce-additional-fields__field-wrapper">
                                                                <p class="form-row notes" id="order_comments_field"
                                                                    data-priority=""><label for="order_comments"
                                                                        class="">Order notes&nbsp;<span
                                                                            class="optional">(optional)</span></label><span
                                                                        class="woocommerce-input-wrapper"><textarea
                                                                            name="order_comments" class="input-text "
                                                                            id="order_comments"
                                                                            placeholder="Notes about your order, e.g. special notes for delivery."
                                                                            rows="2" cols="5"></textarea></span></p>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-md-4">
                                                <div class="collaterals checkout-collaterals">

                                                    <!-- <div class="coupon">
                                                        <span class="header">
                                                            <a href="#">
                                                                <svg>
                                                                    <use xlink:href="#svg-coupon" />
                                                                </svg>
                                                                Coupon code </a>
                                                        </span>
                                                        <div class="form">
                                                            <input type="text" name="coupon_code" class="input-text"
                                                                id="coupon_code" value="" placeholder="Coupon code" />
                                                            <button class="button" id="ip-checkout-apply-coupon"
                                                                name="apply_coupon" type="button">Apply coupon</button>
                                                        </div>

                                                    </div> -->

                                                    <h3 id="order_review_heading">Your order</h3>
                                                    <div id="order_review" class="woocommerce-checkout-review-order">
                                                        <table
                                                            class="shop_table woocommerce-checkout-review-order-table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Product</th>
                                                                    <th class="product-total">Subtotal</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for item in cart.cart_item_set.all %}
                                                                <tr class="cart_item">
                                                                    <td class="product-name">
                                                                        {{item.item.title}}<strong
                                                                            class="product-quantity"> &times;
                                                                            {{item.qty}}</strong>
                                                                    </td>
                                                                    <td class="product-total">
                                                                        <span
                                                                            class="woocommerce-Price-amount amount"><span
                                                                                class="woocommerce-Price-currencySymbol">LE
                                                                            </span>{{item.total_price}}</span>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}

                                                            </tbody>
                                                            <tfoot>
                                                                
                                                                <tr class="cart-subtotal">
                                                                    <th>Delivery Charges </th>
                                                                    <td><span
                                                                            class="woocommerce-Price-amount amount"><span
                                                                                class="woocommerce-Price-currencySymbol">LE </span>55</span>
                                                                    </td>
                                                                </tr>






                                                                <tr class="order-total">
                                                                    <th>Total</th>
                                                                    <td><strong><span
                                                                                class="woocommerce-Price-amount amount"><span
                                                                                    class="woocommerce-Price-currencySymbol">LE
                                                                                </span>{{cart.cart_price|add:50}}</span></strong>
                                                                    </td>
                                                                </tr>


                                                            </tfoot>
                                                        </table>
                                                        <div id="payment" class="woocommerce-checkout-payment">
                                                            <h3>Payment Method</h3>
                                                            <ul class="wc_payment_methods payment_methods methods">
                                                                <li class="wc_payment_method payment_method_sb_test">
                                                                    <input id="payment_method_sb_test" type="radio"
                                                                        class="input-radio" name="payment_method"
                                                                        value="sb_test" checked='checked'
                                                                        data-order_button_text="" /><i></i>

                                                                    <label for="payment_method_sb_test">
                                                                        Cash On Delivery </label>
                                                                </li>
                                                            </ul>
                                                            <div class="form-row place-order">


                                                                <button type="submit" class="button alt"
                                                                    name="woocommerce_checkout_place_order"
                                                                    id="place_order" value="Place order"
                                                                    data-value="Place order">Place order</button>

                                                           
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <div class="clear"></div>

                            </div>

                        </article>

                    </section>
                </div>
            </div>

        </div>

        {% include 'partials/footer.html' %}
    </div>

</body>
{% endblock %}