{%extends 'base.html' %}
{% load static %}
{% block title %} Search Results {%endblock%}
{% block content %}

<body
    class="archive search search-no-results post-type-archive post-type-archive-product custom-background theme-kidz woocommerce woocommerce-page woocommerce-no-js sidebar-left header-type-1 sticky-type-1 layout-boxed-white fixed-slider  woocommerce-on preload">
    <div id="wrap" class="search-type-1 wrap--boxed wrap--boxed-white">
        {% include 'partials/main_header.html' %}
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div class="container ip-shop-container ">

                    <div class="row">
                        <div class="col-md-3">

                            <div id="ip-shop-sidebar">

                                <aside id="woocommerce_top_rated_products-3"
                                    class="widget woocommerce widget_top_rated_products">
                                    <h2 class="widget-title">Top Rated Products</h2>
                                    <ul class="product_list_widget">
                                        {% for item in most_sold %}
                                        <li>

                                            <a href="product/{{item.id}}">
                                                <img width="70" height="70"
                                                    data-src="{{item.image1.url}}"
                                                    class="lazyload attachment-thumbnail size-thumbnail" alt=""
                                                    data-srcset="{{item.image1.url}} 70w,"
                                                    data-sizes="(max-width: 70px) 100vw, 70px" /> <span
                                                    class="product-title">{{ item.title}}</span>
                                            </a>


                                            <span class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">LE</span>{{ item.price }}</span>
                                        </li>
                                        {% endfor %}
                                

                                    </ul>
                                </aside> 
                                 <a class="mobile-sidebar-close" href="#">
                                    <svg>
                                        <use xlink:href="#svg-close" />
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <header class="woocommerce-products-header main-header ip-shop-header">
                                <h1 class="woocommerce-products-header__title page-title">Search results:
                                    &ldquo;{{keyword}}&rdquo;
                                </h1>
                                <div class="products-wrap products-wrap--category">
                                    <div class="products products--category"></div>
                                </div>
                                <div class="row grid-header">
                                    <div class="col-md-8">
                                        <nav class="woocommerce-breadcrumb">
                                            <ul>
                                                <li><a href="">Shop</a></li>
                                                <li>Search results for &ldquo;{{keyword}}&rdquo;</li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </header>
                            <p>
                                <form role="search" method="get" class="searchform" action="{%url 'search' %}">
                                    <div>
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" class="search-field" placeholder="Search &hellip;"
                                                value="{{keyword}}" name="keyword" />

                                        </label>
                                        <button type="submit" class="search-submit">
                                            <i class="fas fa-search "></i>
                                            <!-- <svg>
                                                <use xlink:href="#svg-search" />
                                            </svg> -->

                                            </button>
                                    </div>
                                </form>
                            </p>
                            {% if items %}
                            <div class="products-wrap products-wrap--mobile-small">
                                <div class="products products--layout-boxed-white columns-3 products--mobile-small">
                                    {% for item in items %}
                                    <div
                                        class="product type-product post-94 status-publish first instock product_cat-accessories product_cat-gifts has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                        <div class="ip-shop-loop-wrap">
                                            <div class="ip-shop-loop-thumb">
                                                <a href="/product/{{item.id }}">
                                                    <img src="{{item.image1.url}}" data-src="{{ item.image1.url }}"
                                                        alt="{{ item.title }}" class="thumb-shop-catalog lazyload "
                                                        data-sizes="(min-width: 1200px) 210px, (min-width: 992px) 281px, (min-width: 768px) 293px, 
                                                        (max-width: 600px) and (min-width: 412px) 140px, (max-width: 411px) 
                                                        and (min-width: 360px) 100px, 360px" />
                                                </a>
                                            </div>

                                            <div class="ip-shop-loop-details">
                                                <h3><a href="/product/{{ item.id }}">{{ item.title }}</a></h3>


                                                <div class="ip-shop-loop-after-title">
                                                    <div class="ip-shop-loop-price">
                                                        <span class="price"><span
                                                                class="woocommerce-Price-amount amount"><span
                                                                    class="woocommerce-Price-currencySymbol">LE
                                                                </span>{{item.price}}</span></span>
                                                    </div>
                                                    <div class="ip-shop-loop-actions">
                                                        <a href="#" class="ip-wishlist-btn wishlist-btn " data-id="{{item.id}}"
                                                        data-title="Wishlist">
                                                        <i class="far fa-heart fa-2x" style=""></i>
                                                    </a>
    

                                                        <a href="" class="cart_add" data-id="{{item.id}}">
                                                            <img class="svg-add" src="{% static 'img/icons/cart.svg' %}">
                                                            add to cart
                                                        </a>


                                                        <span class="ip-shop-loop-loading"><i></i><i></i><i></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="clear"></div>
                            {% else %}
                            
                            <p class="woocommerce-info">No products were found matching your selection.</p>
                            {%endif %}
                        </div>
                    </div>
                </div>

            </main>
            {% include 'partials/footer.html' %}
        </div>
    </div>
</body>
{% endblock %}