{% extends 'base.html' %}
{%load static %}
{% block content %}
<style>
    .post-container {
        width: 80%;
        margin: 20px auto;
    

    }
   

</style>
<body
    class="post-template-default single single-post postid-179 single-format-standard custom-background theme-kidz woocommerce-no-js sidebar-right header-type-1 sticky-type-1 layout-boxed-white fixed-slider  woocommerce-on preload">
    {%include 'partials/_search.html' %}
    <div id="wrap" class="search-type-1 wrap--boxed wrap--boxed-white">
        {%include 'partials/main_header.html' %}
        <header class="main-header">
            <div class="container">
                <div style="text-align: center;">


                        <h1>Neverland Story</h1>
               
                </div>
            </div>
        </header>
        <div class="container post-container" >
          

                   <p> Our story began in 2006 in <strong>Nasr city branch.</strong>  <br>
                    our company was founded at this year and through this time we were the perfect company choice to
                    sell
                    costumes for (costume parties-events) all over the country. <br>
                    <strong>The second step </strong> was the Maadi branch in march2008 and this branch was the widespread branch between
                    our
                    costumer. <br>
                    <strong>The third step </strong>was Zamalek branch in 2010 and this branch didn’t last more 1 year because the 25th
                    January Egyptian revolution and the effect of it on the security and the people. <br>
                    In 2014 the third branch is opened in <strong>6 October city </strong> in Cityscape mall. <br>
                    We take a big step in 2015 to change the <strong>Nasr City branch </strong> to the other side from the street to be
                    our
                    biggest and main shop. <br>
                    The current step for us is the new branch in <strong>Maxim mall in New Cairo</strong>. <br></p>
                </div>
   

        <div class="clear"></div>
        {%include 'partials/footer.html' %}
    </div>

</body>
{%endblock %}